<div class="new-wrapper">
 <section class="container">
    <h1 class= "text-name">報告書一覧</h1>
     <hr/>
     <div class="pie_chart">
      <%#= pie_chart Topic.group(:car_name).count, display: "block", height: "200px", width: "520px" %>
     </div> 
     <%= form_tag('/topics', method: 'get') do %>
       <%= label_tag(:car_name_key, '検索　車種') %>
       <%= text_field_tag(:car_name_key) %>
       <%= submit_tag('検索') %> <%= link_to '一覧表示', topics_path %>
     <% end %>
      <table class="table table-bordered">
       <thead>
         <tr>
          <th></th>
          <th>ID番号</th>
          <th>発生日時</th>
          <th>車種</th>
          <th>部品名</th>
          <th>工程</th>
          <th>件名</th>
          <th>班名</th>
          <th>作成者</th>
          <th></th>
          <th></th>
   　　</thead>  
   　  <tbody>
       <% @topics.each.with_index(1) do |t, idx| %> 
         <tr>
          <td><%= idx %></td>
     　    <td><%= t.id %></td>
      　   <td><%= t.accrual_date %>
          　　　<%= t.time %>
        　</td>      　   
      　   <td><%= t.car_name %></td>
      　   <td><%= t.car_type %></td>
      　   <td><%= t.process %></td>
      　   <td><%= t.subject %></td>
      　   <td><%= t.shop_name %></td>
　　　　　<td><%= t.user.name %></td>      　   
      　 　 <td><%= link_to "詳細", topic_path(id: t.id) %></td>　
      　   <td><%= link_to "削除", topics_destroy_path(id: t.id), method: :delete %></td>
      　  </tr>
   　   <% end %> 
   　  </tbody>　
 </section>
</div>