<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <%= form_for @topics do |f| %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image%>
          <%= f.label :description %>
          <%= f.text_field :description %>
          <%= f.label :created_at %>
          <%= f.date_field :created_at %>
          <%= f.label :parts %>
          <%= f.text_field :parts %>
          <%= f.label "型名" %>
          <%= f.text_field :name %>
        </div>
      <% end %>  
    </div>   
  </div>     
</div>      