<div class="new-wrapper">
  <div class="container">
　　<% if @inspects.errors.any? %>
  　　<div id="error_explanation" class="alert-danger">
    　　<ul>
        <% @inspects.errors.full_messages.each do |message| %>
        　<li><%= message %></li>
      　<% end %>
    　　</ul>
  　　</div>
　　<% end %>
   <%= form_for @inspects do |i| %>
    <%= i.hidden_field :check, value: params[:check] %>
    <%= hidden_field_tag :check, params[:check] %>
     　<div class="col-md-offset-2 col-md-8 inspects-new-container">
       <% if params[:check] == "draw" %>
        <h4>ドロー型用</h4>
       <% elsif params[:check] == "trim"%>  
        <h4>トリム型用</h4>
       <% elsif params[:check] == "BLK" %> 
        <h4>BLK型用</h4>
       <% end %> 
        <div class="row">
         <%= i.label "点検日" %>
         <span class="label label-danger"> 必須 </span>
         <%= raw sprintf(
             i.date_select(:accrual_date, use_month_numbers: true, date_separator: '%s'),'年','月')+'日' %><br>
         <%= i.label "車種" %>
         <span class="label label-danger"> 必須 </span>
         <%= i.text_field :car_name %>
         <%= i.label "部品名" %>
         <span class="label label-danger"> 必須 </span>
         <%= i.text_field :car_type, class:"col" %>
         <%= i.label "工程" %>
         <span class="label label-danger"> 必須 </span>
         <%= i.text_field :process, class:"col" %><br>
         <%= i.label "班名" %>
         <span class="label label-danger"> 必須 </span>
         <%= i.text_field :shop_name, class:"col"  %>
         <%= i.label "作業者" %>
         <span class="label label-danger"> 必須 </span>
         <%= i.text_field :worker, class:"col" %>
         <%= i.label "工数" %>
         <%= i.number_field :man_hours,class:"col" %><br>
         <div class="col-md-7" >
        　<%= i.label "交換部品" %>
        　<%= i.text_area :parts, class: "form-control", rows: "3" %> 
         </div>
        </div>
     　</div>   
     　<% if params[:check] == "draw" %>
      　<%= render partial: 'new', locals:{ inspect: @inspects }  %>
    　　 <% elsif params[:check] == "trim" %>  
      　<%= render partial: 'new1', locals:{ inspect: @inspects }  %>
     　<% elsif params[:check] == "BLK" %>  
      　<%= render partial: 'new2', locals:{ inspect: @inspects }  %>
    　 <% end %>  
      <div class=' col-md-12 '>
       <%= i.label "備考"%>   
       <%= i.text_area :description, class: "form-control", rows: "4" %><br>
       <%= i.label "画像", class:"col-sm-1 col-form-label" %>
       <%= i.file_field :images %>
       <span class="label label-danger">必須</span>
    　 <%= i.check_box :mold_type %>
   　　 <%= "この内容で良ければチェックし登録ボタンをクリックしてください" %><br>
   　　 <%= i.submit '登録' %>
  　　　</div>
   <% end %> 
  </div> 
</div>      
