<div class="new-wrapper">
  <div class="container">
      <div class="row">
         <%= form_for @inspects do |i| %>
      　　　　<div class="form-group">
              <%= i.label "点検日" %>
              <%= i.datetime_field :accrual_date %>
              <%= i.label "車種" %>
              <%= i.text_field :car_name %>
              <%= i.label "部品名" %>
            　<%= i.text_field :name %> 
            　<%= i.label "工程" %>
            　<%= i.text_field :process %> 
            　<%= i.label "班名" %>
            　<%= i.text_field :shop_name %> 
            　<%= i.label "作業者" %>
            　<%= i.text_field :worker %> 
            　<%= i.label "工数" %>
            　<%= i.text_field :man_hours %> 
            　<%= i.label "画像" %>
            　<%= i.file_field :images %> 
            　<%= i.label "交換部品" %>
            　<%= i.text_field :parts %> 
            </div>
           <div class="inspects-table-warp">
            <table class="table table-bordered">
             <thead>
              <th></th>
              <th>点検項目</th>
              <th>判定</th>
  　　　     　　 </thead>
             <% if Choice.all.last.check == 1 %> 
  　　　      　　 <tbody>
                <tr>
                 <td>1</td>
                 <td>ドロー型</td>
                 <td><%= check_box_tag :check1 %></td>
                </tr>
               </tbody>
            <% elsif Choice.all.last.check == 2 %>
             <tbody>
              <tr>
                <td>1</td>
                <td>トリム型</td>
                <td><%= check_box_tag :check1 %></td>
              </tr>
              </tbody>
            <% else Choice.all.last.check == 3 %>
             <tbody>
              <tr>
                <td>1</td>
                <td>BLK</td>
                <td><%= check_box_tag :check1 %></td>
              </tr>
             </tbody>
            <% end %>
           </table>
           <%= i.label "備考" %><br>
           <%= i.text_area :description %>
           <%= i.submit '投稿' %>
         <% end %>  
      </div>
  </div>    
</div>      