<div class="new-wrapper" >
  <div class="container">
   　  <div class="row">
        <table class="table table-bordered">
         <thead>
           <tr>
            <th></th>    
            <th>点検日</th>
            <th>車種</th>
            <th>部品名</th>
            <th>工程</th>
            <th>班名</th>
            <th>作業者</th>
            <th>工数</th>
     　 　</thead>
        <% @inspects.each do|t| %>
         <tr>
       　   <tbody>
         　   <tr>
         　    <td><%= t.id %></td>
          　   <td><%= t.accrual_date %></td>
          　   <td><%= t.car_name %></td>
          　   <td><%= t.name %></td>
          　   <td><%= t.process %></td>
          　   <td><%= t.shop_name %></td>
          　   <td><%= t.worker %></td>
          　   <td><%= t.man_hours %></td> 
          　  </tr>
           </tbody>
       　  <div class="col-md-8">
           <%= image_tag t.images.url %>
           <%= t.parts %>
          </div> 
          <div class="row">
           <div class="col-md-12" >
            <%= t. description %>
             <thead>
              <th></th>
              <th>点検項目</th>
              <th>判定</th>
             </thead>
             <tbody>
               <tr>
                <td>1</td>
                <td>ドロー型</td>
                <td><%= t.check1 %></td>
               </tr>
            </tbody>
           </div>  
          </div> 
        <% end %>  
    </div>   
  </div>     
</div>      