<div class="new-wrapper" >
  <div class="container">
   <% @inspects.each do|i| %>
   　 <div class="row">
       <%= "点検日" %>
       <%= i.accrual_date %>
       <%= "車種" %>
       <%= i.car_name %>
       <%=  "部品名" %>
       <%= i.name %>
       <%=  "工程" %>
       <%= i.process %>
       <%=  "班名" %>
       <%= i.shop_name %>
       <%=  "作業者" %>
       <%= i.worker %>
       <%=  "工数" %>
       <%= i.man_hours %>
      <% if i.images.present? %>
   　   <div class="col-md-8">
        <%= image_tag i.images.url %>
        <%= i.parts %>
       </div>
      <% end %>
      <div class="col-md-12" >
       <%= i. description %>
      </div> 
     </div>
        <div class="row">
          <table class="table table-bordered"> 
           <thead>
            <th></th>
            <th>点検項目</th>
            <th>判定</th>
           </thead>
           <tbody>
             <tr>
              <td>1</td>
              <td>トリム型test</td>
              <td><%= i.check1 %></td>
             </tr>
             <tr>
              <td>2</td>
              <td>トリム型test</td>
              <td><%= i.check2 %></td>
             </tr>
             <tr>
              <td>3</td>
              <td>トリム型test</td>
              <td><%= i.check3 %></td>
             </tr>
             <tr>
              <td>4</td>
              <td>トリム型test</td>
              <td><%= i.check4 %></td>
             </tr>
          </tbody>
        </div> 
  <% end %>  
 </div>     
</div>      