<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zaiko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
      <nav class="navbar-expand-md  navbar-light bg-light ">
         <div class="navbar">
           <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi"
         　　　　　　　　aria-expanded="false" aria-label="Toggle navigation">
          　<span class="navbar-toggler-icon"></span>
           </button>
           <h3>（仮）管理システム</h3>
         </div>  
          <div class="collapse navbar-collapse" id="bs-navi">
           <%# if logged_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", peges_path, style:"color:white;" %></li>  
              <li><%= link_to "金型点検表作成", new_choice_path, style:"color:white;" %></li>
              <li><%= link_to "金型点検一覧", inspects_path, style:"color:white;"  %></li>
              <li><%= link_to "破損報告書作成", new_topic_path, style:"color:white;" %></li>
              <li><%= link_to "破損報告書一覧", topics_path, style:"color:white;"  %></li>
              <%# if current_user.admin?  %>  
                <li><%= link_to "会員登録", new_user_path, style:"color:white;"   %></li>
              <%# end %>
              <%# if logged_in? %> 
               <li><%= link_to"ログアウト", logout_path, method: :delete, style:"color:white;"  %></li>
              <%# end %>
            </ul> 
           <%# end %>
          </div> 
      </nav>
    <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(2000);
           });
    </script>
  </body>
</html>
